# You need a .env file looking like that for local cargo run
# DB_HOST=localhost
# MONGO_URL=mongodb://localhost/nestjs
# HOST="localhost"
# PORT=3000

# you need a .env.dc looking like that to run this service throught the root docker compose
# DB_HOST=postgres
# MONGO_URL=mongodb://mongo/nestjs
# HOST="0.0.0.0"
# PORT=3000