# You need a .env file looking like that for local cargo run
# SMTP_HOST=localhost
# SMTP_PORT=26
# SENDER=go@sandboxes.local

# AMQP_URL="amqp://guest:guest@localhost:5672/%2f"

# you need a .env.dc looking like that to run this service throught the root docker compose
# SMTP_HOST=smtp
# SMTP_PORT=25
# SENDER=sandboxes@yourdoma.in

# AMQP_URL="amqp://guest:guest@rmq:5672/%2f"